/* Slideshow Container */

/* Articles Layout */
.articles-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.featured-article {
    flex: 2;
    background-color: var(--bg-neutral-3);
    color: var(--font-color);
    border-radius: var(--radius-l);
    overflow: hidden;
    position: relative;
}

.featured-article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radius-l) var(--radius-l) 0 0;
}

.featured-info {
    padding: 20px;
}

.featured-info h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

.featured-info p {
    font-size: 14px;
    margin: 10px;
    color: var(--divider-color);
}

/* Small Articles */
.small-articles {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-neutral-3);
    color: var(--font-color);
    padding: 15px;
    border-radius: var(--radius-m);
    gap: 15px;
    transition: transform 0.3s ease;
    text-align: center;
}

.small-article:hover {
    transform: scale(1.05);
}

.small-article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--radius-m);
}

.small-article h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--primary-color);
}

.small-article p {
    font-size: 14px;
    color: var(--divider-color);
}

/* Sigle Article */

.article {

    max-width: 800px;
    margin: 1rem auto;
    background-color: var(--bg-neutral-2);
    border-radius: var(--radius-l);
    border: 1px solid var(--bg-neutral-3);
    overflow: hidden;
}

.article-image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-metadata {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(transparent, var(--bg-neutral-1));
    color: var(--font-color);
    font-size: 0.875rem;
}

.article-content {
    padding: 24px;
}

.article-title {
    font-size: 32px;
    margin-bottom: 16px;
    color: var(--font-color);
}

.article-description {
    font-size: 16px;
    color: var(--divider-color);
    line-height: 1.8;
    margin-bottom: 20px;
}

.article-footer {
    padding: 16px 24px;
    border-top: 1px solid var(--bg-neutral-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-neutral-3);
    font-size: 0.875rem;
    color: var(--divider-color);
}

@media (max-width: 600px) {
    .article-image-container {
        height: 250px;
    }

    .article-title {
        font-size: 24px;
    }

    .article-description {
        font-size: 14px;
    }
}