/* Slideshow Container */

/* Articles Layout */
.articles-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.featured-article {
    flex: 2;
    background-color: var(--bg-color-n-1);
    color: var(--font-color);
    border-radius: var(--radius-l);
    overflow: hidden;
    position: relative;
}

.featured-article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radius-l) var(--radius-l) 0 0;
}

.featured-info {
    padding: 20px;
}

.featured-info h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

.featured-info p {
    font-size: 14px;
    margin: 10px;
    color: var(--divider-color);
}

/* Small Articles */
.small-articles {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-n-1);
    color: var(--font-color);
    padding: 15px;
    border-radius: var(--radius-m);
    gap: 15px;
    transition: transform 0.3s ease;
    text-align: center;
}

.small-article:hover {
    transform: scale(1.05);
}

.small-article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--radius-m);
}

.small-article h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--primary-color);
}

.small-article p {
    font-size: 14px;
    color: var(--divider-color);
}
