/* Main Content Styles */
.main-content {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}


.welcome-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: var(--radius-l);
    margin-bottom: 2rem;
}

.welcome-header .search-bar {
    padding: 0.75rem;
    border-radius: var(--radius-m);
    border: 1px solid var(--outline-color);
    background-color: var(--bg-neutral-1);
    color: var(--font-color);
    width: 300px;
}

/* Stats Grid */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.stat-card {
    background: var(--bg-color-n-1);
    padding: 1.5rem;
    border-radius: var(--radius-l);
    border: 1px solid var(--bg-color-n-2);
}

.stat-number {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}


/* Badge */
.badge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius-m);
    font-size: 0.875rem;
    font-weight: 500;
}

.badge-primary {
    background: var(--primary-color);
    color: var(--font-color);
}

.badge-warning {
    background: var(--warning-color);
    color: var(--font-color);
}

/* Dashboard Section  */

.dashboard-section {
    padding: 2rem 2.5rem;
}