:root {

    /* Components Colors */
    --primary-color: rgba(31, 136, 61, 1.0);
    --secondary-color: rgba(9, 105, 218, 1.0);
    --tertiary-color: rgba(75, 98, 133, 1.0);
    --warning-color: rgba(154, 103, 0, 1.0);
    --danger-color: rgba(207, 34, 46, 1.0);
    --outline-color: rgba(37, 44, 52, 1.0);

    /* Background Colors */
    --bg-color: rgba(13, 17, 23, 1.0);
    --bg-neutral-1: rgba(1, 4, 9, 1.0);
    --bg-neutral-2: rgba(21, 27, 35, 1.0);
    --bg-neutral-3: rgba(31, 35, 40, 1.0);
    --bg-neutral-4: rgba(89, 99, 110, 1.0);

    /* Font Color */

    --font-color: rgba(255, 255, 255, 1.0);
    --divider-color: rgba(197, 203, 212, 1.0);
    /* border radius */
    --radius-s: 0.125rem;
    --radius-m: 0.25rem;
    --radius-l: 0.5rem;
    --radius-xl: 1rem;
    /* Related Dashboard */
    --sidebar-width: 20rem;
}



/* @media(prefers-color-scheme : light) {
    :root {

        --primary-color: rgba(31, 136, 61, 1.0);
        --secondary-color: rgba(9, 105, 218, 1.0);
        --tertiary-color: rgba(75, 98, 133, 1.0);
        --warning-color: rgba(154, 103, 0, 1.0);
        --danger-color: rgba(207, 34, 46, 1.0);
        --outline-color: rgba(139, 148, 158, 1.0);


        --bg-color: rgb(255, 255, 255);
        --bg-color-n-1: rgba(255, 255, 255, 1.0);
        --bg-color-n-2: rgba(233, 236, 239, 1.0);
        --bg-color-n-3: rgba(242, 244, 246, 1.0);
        --bg-color-n-4: rgba(245, 248, 250, 1.0);

        --font-color: rgba(36, 41, 47, 1.0);
        --divider-color: rgba(208, 215, 222, 1.0);

        --radius-s: 0.125rem;
        --radius-m: 0.25rem;
        --radius-l: 0.5rem;
        --radius-xl: 1rem;
        --sidebar-width: 20rem;
    }
} */



html {
    color-scheme: dark light;
    width: 100%;
    height: 100%;
}


* {
    margin: 0;
    line-height: normal;
    box-sizing: border-box;

}


body {
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 100%;
    height: 100%;
}





/* Global Animation */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}




/* Toast */

.toast {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem;
    border-radius: var(--radius-m);
    animation: slideIn 0.3s ease, fadeOut 0.3s ease 4.7s;
}
