/* @media(prefers-color-scheme : dark) {
    :root {}
} */



html {
    color-scheme: dark light;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    line-height: normal;
}


body {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
}
