.header-container {
    height: 72px;
    background-color: var(--bg-color-n-4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border-bottom: 1px solid var(--bg-color-n-1);
    /* box-shadow: 0 5px 8px rgb(20, 20, 20); */
}


.header-container img {
    width: 120px;
    filter: drop-shadow(var(--primary-color) 0px 2px 20px);
}


.header-container nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.header-container nav a {
    width: 4rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    color: var(--font-color);
    border-radius: 0.5rem;
    transition: 0.25s ease-in-out;
}

.header-container nav a:hover {
    background-color: var(--bg-color-n-1);
}



.header-container nav form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-container nav a:focus {
    transform: scale(96%);
    text-decoration: underline;
}

.header-container input {
    outline: none;
    width: 22rem;
    background-color: var(--bg-color);
    padding: 0.625rem 1.25rem;
    border: 1px solid var(--divider-color);
    border-radius: 0.5rem;
    color: var(--font-color);
    font-size: 1rem;
}

.header-container input:focus {
    border: 2px solid var(--secondary-color);
}
