.slideshow-container {
    position: relative;
    overflow: hidden;
    margin: 1rem 10%;
    border-radius: var(--radius-xl);
    background-color: var(--bg-neutral-3);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--font-color);
    background-color: var(--bg-neutral-3);
    border-radius: var(--radius-xl);
    gap: 1rem;

}

.slide img {
    width: 50%;
    aspect-ratio: 16/9;
    border-radius: var(--radius-l);
    object-fit: cover;
}

.slide-info {
    display: flex;
    flex-direction: column;

    width: 40%;
    gap: 1rem;
}



.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
    z-index: 100;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--radius-m);
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: var(--bg-neutral-4);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}
